__pycache__/
**/__pycache__/
*.py[cod]
.venv/
.vscode
data/
wandb/
lkh/
pyvrp/
concorde/
.tmp/
**/.pytest_cache/
**/build/
**/*.egg-info/
*.pyd
*.so
*.o
*.obj
*.exp
*.lib
texput.log
*_results.csv
*_results.md
*_summary.md

api.txt
.agents
.uv-cache
.gitignore
uv.lock

experiments/
**/experiments/*_ckpt/
